<app-header></app-header>
<br>
<header class="masthead text-center">
    <div class="container" *ngIf="isLogged">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
            Nueva Institucion
        </h2>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form class="was-validated needs-validation" id="contactForm" (ngSubmit)="onCreate()" novalidate
                    #f="ngForm">

                    <!-- Nombre de Educacion -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nombreE" name="nombreE" type="text"
                            placeholder="Ingrese el nombre de la educacion" required [(ngModel)]="nombreE" />
                        <label for="nombreE" class="form-label">Nombre de institucion</label>
                        <!-- Mensajes para validación -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Descripción -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="descripcion" type="text"
                            placeholder="Escriba una descripcion" style="height: 10rem" [(ngModel)]="descripcion"
                            name="descripcion" required></textarea>
                        <label for="descripcion">Descripcion</label>
                        <!-- Mensajes para validación -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Fecha de Inicio-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="fecha_inicio" name="fecha_inicio" type="date"
                            placeholder="Fecha de inicio" required [(ngModel)]="fecha_inicio" />
                        <label for="fecha_inicio">Fecha de inicio</label>
                        <!-- Mensajes para validación -->
                        <div class="invalid-feedback">
                            La fecha no es valida
                        </div>
                    </div>

                    <!-- Fecha de Final-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="fecha_fin" name="fecha_fin" type="date"
                            placeholder="Fecha Final" required [(ngModel)]="fecha_fin" />
                        <label for="fecha_fin">Fecha Final</label>
                    </div>

                    <!-- Logo Institucion -->
                    <div class="form-floating mb-3">
                        <!-- <input type="file" id="img" class=" form-control" name="img"
                            (change)="uploadImage($event)" accept="jpg jpeg png" required>  -->
                        <label for="img">Logo de Institucion</label>
                        <div class="invalid-feedback">Logo no válido</div>
                    </div>
                    <div class="form-outline mb-2">
                        <img id="foto-perfil" [src]="imageService.url"
                            style="width: 200px; height: 200px;"><br>
                        <label for="img">Logo seleccionado</label>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit" title="Enviar">
                            Agregar institucion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<br>
<app-footer></app-footer>