<!-- <div class="container" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreH">Nombre de la Skill</label>
                    <input type="text" class="form-control" id="nombreH" name="nombreH" [(ngModel)]="skill.nombreH" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Ingrese el porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div> -->


<app-header></app-header>
<header class="masthead text-center">
    <div class="container" *ngIf="isLogged">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
            Editar Hard & Soft Skill
        </h2>

        <!-- Contact Section Form-->
        <div class="row justify-content-center" *ngIf="skill">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <!-- Id hard skill -->
                    <div class="form-floating mb-3" [hidden]="true">
                        <input class="form-control" id="idskill" name="idskill" type="text" [(ngModel)]="skill.idskill"
                            disabled="true" />
                        <label for="name">ID</label>
                    </div>
                    <!-- Skill-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nombreH" name="nombreH" type="text"
                            placeholder="Ingrese el nombre de la empresa" required [(ngModel)]="skill.nombreH" />
                        <label for="nombreH">Skill</label>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Porcentaje -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="porcentaje" type="number" placeholder="Escriba un valor"
                            style="height: 10rem" [(ngModel)]="skill.porcentaje" name="porcentaje" />
                        <label for="porcentaje">Porcentaje</label>
                    </div>

                    <!-- Submit Button-->
                    <!-- <div *ngIf="!IsLoadding; else ButtonLoadding"> -->
                    <div>
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit" title="Enviar">
                            ENVIAR
                        </button>
                    </div>


                    <!-- <ng-template #ButtonLoadding>
            <button class="btn btn-primary btn-xl" id="submitButton" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              ENVIANDO...
            </button>
          </ng-template> -->
                </form>
            </div>
        </div>
    </div>
</header>
<app-footer></app-footer>