<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>

                <div class="form-group">
                    <label for="fecha_inicio">Fecha de realización</label>
                    <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="fecha_inicio" required>
                </div>

                <div class="form-group">
                    <label for="fecha_fin">Fecha de conclusión</label>
                    <input type="text" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]="fecha_fin" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>

                <div class="form-group">
                    <label for="url_proyecto">URL del proyecto</label>
                    <input type="text" class="form-control" id="url_proyecto" name="url_proyecto" [(ngModel)]="url_proyecto" required>
                </div>

                <div class="form-group">
                    <label for="foto_proyecto_url">Imagen del proyecto</label>
                    <input type="text" class="form-control" id="foto_proyecto_url" name="foto_proyecto_url" [(ngModel)]="foto_proyecto_url" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>

