<app-header></app-header>
<br>
<header class="masthead text-center">
    <div class="container" *ngIf="isLogged">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
            Nueva Hard & Soft Skill
        </h2>
        <br>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" (ngSubmit)="onCreate()" novalidate #f="ngForm">

                    <!-- Skill-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nombreH" name="nombreH" type="text"
                            placeholder="Ingrese el nombre de la empresa" [(ngModel)]="nombreH" required />
                        <label for="name">Nombre de Skill</label>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Porcentaje -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="porcentaje" type="number" placeholder="Escriba una descripcion"
                            [(ngModel)]="porcentaje" name="porcentaje" required />
                        <label for="porcentaje">Porcentaje</label>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Button New & Cancel-->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button class="btn btn-primary btn-lg" id="guardar" type="submit" name="guardar"
                            title="Agregar skill">AGREGAR</button>
                        <button class="btn btn-secondary btn-lg" id="cancelar" type="button" name="cancelar"
                            title="Cancelar" onclick="window.location.href='/'">CANCELAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<br>
<app-footer></app-footer>