<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column" *ngIf="persona">
        <!-- Masthead Avatar Image-->
        <a href="{{ persona.foto_perfil_url }}" target="_blank">
            <img src="{{ persona.foto_perfil_url }}" class="masthead-avatar mb-5" id="foto-perfil" alt="Foto de perfil"
                title="Foto de perfil" />
        </a>

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">
            {{ persona.nombre }} {{ persona.apellido }}
        </h1>

        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            {{ persona.profesion }}
        </p>

        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Acerca de mi</h1>
        <p class="description">
            {{ persona.descripcion }}
        </p>

        <div class="gap-1 d-md-flex justify-content-md-end mb-1" *ngIf="isLogged">
            <button class="btn btn-light btn-xs" type="button" title="Editar perfil" routerLink="/editacercade/1"
                *ngIf="isLogged">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
        <br>
    </div>
    
</header>